:global(*) {
  font-family: "Switzer", sans-serif;
  font-size: 16px;
  background-color: #FFFBF7;
  text-decoration: none;
}

.noListStyle {
  list-style: none;
  padding: 0;
  margin: 0;
}

.noBorder {
  border: none;
}

.iconCenter {
  display: flex;
  align-items: center;
}

.displayNone {
  display: none;
}

.hoverRed {
  &:hover {
    color: #F24738;
  }
}