:global(*) {
  font-family: "Switzer", sans-serif;
  color: #333;
  background-color: #FFFBF7;
}

.noListStyle {
  list-style: none;
  padding: 0;
  margin: 0;
}

.noTextDecoration {
  text-decoration: none;
}

.noBorder {
  border: none;
}

.iconCenter {
  display: flex;
  align-items: center;
}