:global(*) {
  font-family: "Switzer", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #FFFBF7;
  text-decoration: none;
}

.layoutPadding {
  padding: 0 24px;
  overflow: hidden;
}

.noListStyle {
  list-style: none;
  padding: 0;
  margin: 0;
}

.button {
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  background-color: transparent;
  position: relative;
  z-index: 2;

  svg {
    background-color: inherit;
  }
}

.iconCenter {
  display: flex;
  align-items: center;
}

.displayNone {
  display: none;
}

.hoverRed {
  &:hover {
    color: #F24738;
  }
}

@media screen and (min-width:1025px) {
  .layoutPadding {
    padding: 0 40px;
  }
}