.footerList {
  composes: noListStyle from "./common.module.css";
  display: flex;
  justify-content: center;
  gap: 24px;
} 

.footerList a {
  font-size: 12px;
  color: #333;
  transition: text-decoration .5s ease;
}

.footerList a:hover {
  text-decoration: underline;
}

.footerPadding {
  padding: 24px 0;
}

@media screen and (min-width:1025px) {
  .footerPadding {
    padding: 16px 0;
  }
}