.footerList {
  composes: noListStyle from "./common.module.css";
  display: flex;
  justify-content: center;
  gap: 24px;
  font-size: 12px;
}

.footerPadding {
  padding: 24px 0;
}

@media screen and (min-width:1025px) {
  .footerPadding {
    padding: 16px 0;
  }
}