.headerElements {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
}

.logo {
  width: 72px;
}


@media screen and (min-width:1025px) {
  .logo {
    width: 120px;
  }

  .headerElements {
    padding: 32px 40px;
  }
}