.headerNavLeftList {
  composes: noListStyle from "./common.module.css";
  display: flex;
  justify-content: center;
  gap: 12px;
}

.navListItem {
  transition: color .4s ease;
  composes: hoverRed from "./common.module.css";
}

.navButton {
  composes: noBorder iconCenter from "./common.module.css";
  padding: 0;
}