.productContainer {
  margin-bottom: 64px;
}

.figure {
  margin: 24px 0 0 0 ;
  aspect-ratio: 1/1;
  position: relative;
  
  img {
    border-radius: 8px;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}

.favorite {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: transparent;
  width: 28px;
  height: 28px;
}

.titlePrice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}

.title {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.prices {
  display: flex;
  align-items: center;
  gap: 8px;

  p {
    margin: 0;
  }
}

.originalPrice {
  font-size: 16px;
  color: #9AA0A6;
  font-weight: 600;
  text-decoration: line-through;
}

.discountedPrice {
  font-size: 18px;
  font-weight: 700;
}

.description {
  margin-top: 16px;
  margin-bottom: 0;
}

.addToCart {
  margin-top: 24px;
  margin-bottom: 0;
  width: 100%;
  border-radius: 8px;
  border: solid 1px #F24738;
  background-color: #F24738;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  padding: 12px 0;
}

.reviewSection {
  margin-top: 40px;

  h2 {
    font-weight: 600;
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: solid 1px #EBEBEB;
  }
}

.review {
  border-bottom: solid 1px #EBEBEB;
  padding-bottom: 24px;
  margin-bottom: 40px;
}

.reviewer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rating {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 4px;

  svg {
    width: 20px;
    height: 20px;
    color: #F2BD38;
  }
}

.reviewUsername {
  margin: 0;
}

.reviewDescription {
  margin-top: 8px;
  margin-bottom: 0;
}

.backHome {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  display: flex;
  align-items: center;

  svg {
    width: 18px;
    height: 18px;
    margin-right: 4px;
  }
}