.productContainer {
  margin-bottom: 64px;
}

.figure {
  margin: 24px 0 0 0 ;
  aspect-ratio: 1/1;
  position: relative;
  
  img {
    border-radius: 8px;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}

.favorite {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: transparent;
  width: 28px!important;
  height: 28px!important;
}


.titlePrice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}

.title {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.prices {
  display: flex;
  align-items: center;
  gap: 8px;

  p {
    margin: 0;
  }
}

.originalPrice {
  font-size: 16px;
  color: #9AA0A6;
  font-weight: 600;
  text-decoration: line-through;
}

.discountedPrice {
  font-size: 18px;
  font-weight: 700;
}

.description {
  margin-top: 16px;
  margin-bottom: 0;
}

.addToCart {
  composes: ctaButton from "../styles/common.module.css"
}

.reviewSection {
  margin-top: 40px;

  h2 {
    font-weight: 600;
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: solid 1px #EBEBEB;
  }
}

.review {
  border-bottom: solid 1px #EBEBEB;
  padding-bottom: 24px;
  margin-bottom: 40px;
}

.reviewer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rating {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 4px;

  svg {
    width: 20px;
    height: 20px;
    color: #F2BD38;
  }
}

.reviewUsername {
  margin: 0;
}

.reviewDescription {
  margin-top: 8px;
  margin-bottom: 0;
}

@media screen and (min-width:767px) {
  .productContainer {
    display: grid;
    grid-template-columns: repeat(2, minmax(0px, 1fr));
    padding: 0 40px;
    margin-top: 80px;
    margin-bottom: 128px;
  }

  .figure {
    margin: 0 auto;
    width: 80%;
  }

  .favorite {
    top: 24px;
    right: 24px;
    width: 32px!important;
    height: 32px!important;
  }

  .productDetailContainer {
    width: 90%;
    margin: 0 auto;
  }

  .titlePrice {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-top: 0;
  }
  
  .title {
    font-size: 24px;
    font-weight: 700;
  }
  
  .prices {
    gap: 10px;
    flex-direction: row-reverse;
  }
  
  .originalPrice {
    font-size: 18px;
  }
  
  .discountedPrice {
    font-size: 22px;
  }

  .description {
    margin-top: 24px;
  }

  .reviewSection {
    margin-top: 56px;
  
    h2 {
      font-weight: 700;
    }
  }

  .review {
    margin-bottom: 64px;
  }
  
  .rating {
    font-weight: 600;
  }
  
  .reviewUsername {
    font-weight: 600;
  }

}